<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author Lists</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">65</td>
            <td th:text="${author.firstName}">James</td>
            <td th:text="${author.lastName}">Brown</td>
        </tr>
        </tbody>
    </table>
</body>
</html>